<!-- <header class="block block&#45;header&#45;1"> -->
<!--  -->
<!--   <div class="block&#45;header&#45;1&#45;&#45;logo"> -->
<!--     <a href="{{ site.url | relative_url }}"> -->
<!--       <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}"> -->
<!--     </a> -->
<!--   </div> -->
<!--  -->
<!--   <nav class="block&#45;header&#45;1&#45;&#45;nav"> -->
<!--     <ul> -->
<!--       {% for nav_item in section.navigation %} -->
<!--       <li class="nav&#45;item {% if page.url == nav_item.link %}active{% endif %}"><a href="{{ nav_item.link | relative_url }}">{{ nav_item.link_text }}</a></li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </nav> -->
<!--  -->
<!-- </header> -->

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
