<!-- https://bulma.io/documentation/components/navbar/ -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url | relative_url }}">
      <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a href="{{ '/pt' | relative_url }}" class="navbar-item">
        pt/en
      </a>

    </div>

    <div class="navbar-end">
      {% for nav_item in section.navigation %}
        <a href="{{ nav_item.link | relative_url }}" class="navbar-item">
          {{ nav_item.link_text }}
        </a>
      {% endfor %}

    </div>
  </div>
</nav>

<!-- Show/hide menu in small devices -->
<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }
  });
</script>
