<section class="block block-one-column-1"
         style="padding-bottom: 5px;
                {% if section.background-color %}
                  background-color: {{ section.background-color }};
                {% endif %}">
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
  <div id="{{ section.HtmlId }}" class="container">
    <div class="columns">
      <div class="column">
        <h1 style="color: {{ section.headline-color }};
                   font-family: 'Quattrocento', serif;
                   font-weight: 300;
                   font-size: 74px">
          {{ section.content }}
        </h1>
      </div>
    </div>
  </div>
</section>
