<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/forestryio/ubuild-blocks@1.0.0/dist/css/ubuild.css"/>
    <style>
      *{
        --bg: #44674b !important;
        --bg-secondary: #fdfbfd;
        --headline-color: hsla(60, 56%, 95%, 1);
        --headline-color-secondary: hsla(0, 0%, 10%, 1);
        --content-color: white;
        --content-color-secondary: #666;
      }

      a{
        color: #8dcaff;
      }

      li p{
        color: inherit;
      }

      h3, p{
        font-size: 1.2em !important;
      }
    </style>
  </head>
  <body>
